 html {
   margin: 0 auto;
   padding: 0;

 }

body {
  background-color: rgba(167, 169, 172, .7);
}

form {
  text-align: center;
  margin: 0 auto;
  padding: 2.5em;
}

table {
  text-align: center;
  margin: 0 auto;
}


th, tr, td {
  border-bottom: dotted 1px;
  font-size: 1.1em;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 4em;
  text-align: center;
}

h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

a {
  text-decoration: underline;
}

.bioPic {
  display: block;
  width: 15%;
  margin: 0 auto;
}

.legisList  {
  text-align: center;
  margin: 0 auto;
  color: black;
}

.legisList  a {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 2em;
}

.searchList {
  text-align: center;
  margin: 0 auto;
}

.logo {
  height: 6em;
  width: 100%;
  background-color: rgba(38, 116, 165, .7);
  border-radius: 4px;
  float: left;
}

.logo p {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 1.3em;
  font-weight: bold;
  margin: auto;
  margin-left: 2.5em;
}

.logo h1 {
  display: inline;
  color: white;
  font-size: 2.3em;
  text-align: center;
}

.logo h2 {
  display: inline;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 1.6em;
  padding: .25em;
}

.tagline {
  display: inline-block;
  width: 100%;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  text-align: center;
}

datamap {
  margin: 0 auto;
}
.rightArticle {
  width: 50%;
  float: right;
}

.leftArticle {
  width: 50%;
  float: left;
}

.allArticle {
  width: 100%;
  float: left;
  text-align: center;
  margin: 0 auto;
  padding: 2em;
}

.allArticle img {
  float left;
  width: 33%
}

.largeCursive {
  text-align: center;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 2em;
  color: black;
  padding: 1em;
}

.blockText {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  text-align: content: '';
  padding: 2px;
  letter-spacing: 1px;
}

.aboutDiv {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.aboutDiv h2 {
  font-size: 2em;
}
