 html, body {
   margin: 0 auto;
   padding: 0;
 }

body {
  background-color: rgba(167, 169, 172, .7);
}

form {
  text-align: center;
  margin: 0 auto;
  padding: 2.5em;
}

table {
  text-align: center;
  margin: 0 auto;
}


th, tr, td {
  border-bottom: dotted 1px;
  font-size: 1.1em;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 4em;
  text-align: center;
}

h2, h3, h4 {
  text-align: center;
}

a {
  text-decoration: underline;
}

.bioPic {
  display: block;
  width: 15%;
  margin: 0 auto;
}

.legisList  {
  text-align: center;
  margin: 0 auto;
  color: black;
}

.legisList  a {
  text-align: center;
  font-family: 'Lora', serif;
  color: black;
  font-size: 2em;
}

.searchList {
  text-align: center;
  margin: 0 auto;
}

.searchButton{
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color: black;
	background-color:rgba(232, 108, 47, .5);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
  font-family: 'Lora', serif;
	font-size:16px;
	font-weight:700;
	height:36px;
	padding:4px 16px;
	text-shadow:#FE6 0 1px 0
}

.leftnav {
  height: 6em;
  width: 60%;
  background-color: rgba(38, 116, 165, .7);
  float: left;
}

.rightnav {
  height: 6em;
  width: 40%;
  background-color: rgba(38, 116, 165, .7);
  float: right;
}

.rightnav p {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.3em;
  font-weight: bold;
  float: right;
  margin: auto;
  margin-left: 2.5em;
}

.rightnav h1 {
  display: inline;
  color: white;
  font-size: 3em;
  text-align: center;
}

.rightnav h2 {
  display: inline;
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 2em;
  padding: .25em;
}

.leftnav a {
  display: inline;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  letter-spacing: 2px;
  color: white;
  font-weight: bold;
  padding: .5em;
}

.rightArticle {
  width: 50%;
  float: right;
}

.leftArticle {
  width: 50%;
  float: left;
}

.allArticle {
  width: 100%;
  float: left;
  text-align: center;
  margin: 0 auto;
  padding: 2em;
}

.allArticle img {
  float left;
  width: 33%
}

.largeCursive {
  text-align: center;
  margin: 0 auto;
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 2em;
  color: black;
  padding: 1em;
}

.blockText {
  margin: 0 auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
  text-align: content: '';
  padding: 2px;
  letter-spacing: 1px;
}

.aboutDiv {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.aboutDiv h2 {
  font-size: 2em;
}
