<div class="aboutDiv">
  <h2 class="blockText">Hi! I'm Kim Schlesinger</h2>
    <img class="bioPic" src="stylesheets/images/kim.jpg" alt="" />
    <p>I am a recent graduate of the <a href="http://www.galvanize.com/courses/full-stack/">Galvanize Full Stack Development Program </a>
        in Boulder, Colorado, and I built this site as my capstone project. The application was developed using the MEAN stack.</p>
    <p> The server-side was built with Node.js, MongoDB and Express, and the client-side was built with AngularJS.</p>
    <p>Data was provided by the <a href="https://www.opensecrets.org/resources/create/api_doc.php">OpenSecrets</a> and <a href="https://webhose.io/">Webhose.io</a>
       APIs.</p>
    <h2 class="blockText">Contact Me!</h3>
    <h3 class="blockText">
      <i class="fa fa-github-square"></i><a href="https://github.com/coloradokim"> coloradokim</a>
      <i class="fa fa-envelope"></i> schlesinger.kim@gmail.com
      <i class="fa fa-desktop"></i><a href="https://students.galvanize.com/people/332"> Portfolio</a>
      <i class="fa fa-linkedin-square"></i><a href="https://www.linkedin.com/in/kimschlesinger"> LinkedIn</a>
    </h3>
  </div>
