<h2 class="tagline">See campaign finance spending data for congressional incumbents</h2>

<datamap map="mapObject" on-click="addSearch"></datamap>

<!-- Showsist of legislators from the current state  -->

<main class="legisList"  ng-repeat="legislator in legislators">
  <a href="" ng-click="addCand(legislator['@attributes'].cid, legislator['@attributes'].lastname, legislator['@attributes'].firstlast, legislator['@attributes'].party, legislator['@attributes'].office)">
    {{legislator["@attributes"].firstlast}}- {{legislator["@attributes"].party}}</a>
</main>
